
.treeview {
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.treeview:hover input ~ label:before,
.treeview.hover input ~ label:before {
  opacity: 1.0;
}
.treeview ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.treeview li {
  padding-left: 0;
  margin-left: 0;
}

.treeview input {
}
.treeview input:checked ~ ul {
  display: none;
}
.treeview input ~ label {
  cursor: pointer;
}
.treeview input ~ label:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  margin-left: -1em;
  margin-top: 0.4em;
  border-width: 4px;
  border-style: solid;
  border-top-color: transparent;
  border-left-color: transparent;
  opacity: 0.0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.treeview input:checked ~ label:before {
  margin-left: -0.8em;
  border-width: 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: black;
}

.expand-label{
  display: none
}
